<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<h1>Dashboard</h1>

<form th:action="@{/signout}"  method="POST">
    <button type="submit">Logout</button>
</form>

<p sec:authentication="name"></p>

<div sec:authorize="isAnonymous()">
    This block is for anonymous user
</div>

<div sec:authorize="isAuthenticated()">
    This block is for authenticated user
</div>

<div sec:authorize="isFullyAuthenticated()">
    This block is for fully authenticated user
</div>


<div sec:authorize="hasRole('ADMIN')">
    This block is for Admin user
</div>


<div sec:authorize="hasAuthority('READ_INVOICE') and isAuthenticated()">
    This block is for the user who has Read Invoice authority
</div>



</body>
</html>